<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="course">
            <h2><span>Course</span> {{course.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{course.name}}</span>
                </dd>
                <dt><span>Duration In Days</span></dt>
                <dd>
                    <span>{{course.durationInDays}}</span>
                </dd>
                <dt><span>Hours Per Day</span></dt>
                <dd>
                    <span>{{course.hoursPerDay}}</span>
                </dd>
                <dt><span>Survey Link</span></dt>
                <dd>
                    <span>{{course.surveyLink}}</span>
                </dd>
                <dt><span>Tags</span></dt>
                <dd>
                    <span>{{course.tags}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{course.city}}</span>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <span>{{course.location}}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{course.startDate}}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{course.createdAt}}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{course.updatedAt}}</span>
                </dd>
                <dt><span>Sme</span></dt>
                <dd>
                    <span *ngFor="let sme of course.smes; let last = last">
                        {{sme.login}}{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button class="btn btn-primary" type="button" [routerLink]="['/attendence']" [queryParams]="{courseId: course.id}" > 
                <span> View Attendence </span> 
            </button>

            <button class="btn btn-primary" type="button" [routerLink]="['/attendence/new']" [queryParams]="{courseId: course.id}" > 
                <span> Mark Attendence </span> 
            </button>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>

            </button>

            <button type="button" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    [routerLink]="['/course', course.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
